@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #e7e7e7;
}

/*--------------- Header --------------------*/

header{
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    color: #000;
    font-family: 'Satisfy', cursive;
    font-size: 4em;
}


nav{
    width: auto;
    height: 70px;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
}

button{
    background-color: #000;
    color: #000;
    width: 100px;
    font-size: 1.2em;
}

nav a{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    border: solid 2px #000;
    margin: 0 20px;
    cursor: pointer;
}

nav a button{
    padding: 0 20px;
    cursor: pointer;
    background-color: transparent;
    color: #000;
    width: 150px;
    font-size: 1.3em;
    border: none;
    font-family: 'Abril Fatface', cursive;
}

nav .icon{
    display: none;
    color: #000;
}

/*-------------------- Section ------------------*/

.encadrement{
    height: auto;
    background: #3f3937;
    width: 60vw;
    font-size: 20px;
    color: white;
    margin-top: 5vw;
    margin-left: 15vw;
    position: relative;
    z-index: 1;
    
}

.encadrement h1{
    margin-left: 5vw;
    color: white;
}
.encadrement h3, h4, ul, p{
    margin-left: 5vw;
    color: white;
    font-size: large;

}

#image{
    position: relative;
    z-index: 2;
    height: 30vw;
    float: right;
    margin-right: 15vw;
    margin-top: 7vw;
    

}

.liste{
    display: flex;
    flex-direction: row;
}
