@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url("accueil.css");

.encadrement{
    background: #3f3937;
    width: 60vw;
    height: 41vw;
    font-size: 20px;
    color: white;
    margin-top: 5vw;
    margin-left: 15vw;
    position: relative;
    z-index: 1;
    
}

.encadrement h1{
    margin-left: 5vw;
    color: white;
}
.encadrement h3, h4, ul, p{
    margin-left: 5vw;
    color: white;
    font-size: large;

}

#image{
    position: relative;
    z-index: 2;
    height: 30vw;
    float: right;
    margin-right: 15vw;
    margin-top: 7vw;
    

}

.liste{
    display: flex;
    flex-direction: row;
}
